@import (reference) './colors.less';

.navbar {
    background-color: @navBarColor !important;
    height: 50px;
    padding-bottom: 12px;
    padding-top: 12px;
    & .container {
        display: block !important;
    }
}

.navbar-brand {
    padding: 0px;
  }
  .navbar-brand>img {
    height: 100%;
    width: auto;
}
.form-control:focus {
    box-shadow: none;
}

.pointer {
    cursor: pointer;
}

.scrollToTop{
    width:35px; 
    height:35px;
    padding:10px; 
    text-align:center; 
    font-weight: bold;
    color: white;
    text-decoration: none;
    position:fixed;
    bottom:60px;
    right:40px;
    display:none;
    background: url("../public/assets/images/top-arrow.png");
    background-color: @goTopBtn;
    background-position: center;
    background-repeat: no-repeat;
}
.scrollToTop:hover{
    text-decoration:none;
}