@import (reference) './colors.less';

.navbar {
    background-color: @navBarColor !important;
    height: 50px;
}

.navbar-brand {
    padding: 0px;
  }
  .navbar-brand>img {
    height: 100%;
    width: auto;
}
