.mainTitle {
    font-size: 30px;
}
.mainSubtitle {
    font-size: 20px;
}

#oompasContent{
    img {
        width: 100%;
        height: auto;
    }
}

.oopaBox {
    padding-bottom: 30px;
}
.oompaContentBox {
    margin: 0 !important;
}
.searcherClass,
.main, 
.navbar-header {
    padding-right: 15px;
    padding-left: 15px;
}
.oompaSingleContentBox {
    img {
    width: 100%;
    height: auto;
    } 
}
.oompaSingleContentBox {
    padding-top: 30px;
}
.input-group {
    border: 1px solid #ced4da;
    border-radius: 3px;
    input {
        padding: 5px !important;
        border: none;
        width: 100px;
    }
}

.btn-search {
    width: 35px;
    height: 35px;
    padding: 9px !important;
    img {
        width: 100%;
    }
}
.form-inline {
    display: flow-root !important;
}

.searcherClass {
    padding-top: 30px;
}